<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/"><p class="logo" style="color: rgb(42,115,177) ">f</p><p class="logo" style="color: rgb(236,162,56) ">y</p><p class="logo" style="color: rgb(0,0,0)">d</p><p class="logo" style="color: rgb(57,116,45) ">i</p><p class="logo" style="color: rgb(206,55,72) ">p</p></a>
            </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
</nav>


<div>
    <div class="search-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="search-message">
                          <div ng-controller="searchController">
                            <form novalidate class="form-inline">
                                <div class="form-group">
                               
                                  	<input class="form-jumbo" g-places-autocomplete ng-model="place" placeholder="Location"/>
								</div>
                  
								<div class="form-group">
                                  <select class="form-jumbo" ng-model="sport" ng-init="sport='badminton'" id="Sport" placeholder="Sport">
                                    <option value="golf">Golf</option>
                                    <option value="tennis">Tennis</option>
                                    <option value="gym">Gym</option>
                                    <option value="badminton" selected>Badminton</option>
                                  </select>
                                </div>
                        	<a href="#/search" >
                                <button type="submit" class="btn btn-lg" style="height: 60px; background-color:rgba(206,55,72,0.9); border: 2px rgba(206,55,72,1)" ng-click="myFunction()"><i class="fa fa-search fa-2x"></i></button>
							</a>
                            </form>
                          </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    </div>

     <div class="content-section-b" style="padding: 50px 0">
        <div class= "container" >
           
			<div ng-controller="MyController" class="my-controller">
				<h1>Here is what we found!!!</h1>

				<div class="row">
					<div class="col-xs-4">
					<h3>Page: {{ currentPage }}</h3>
				</div>
				<div class="col-xs-4">
					<label for="search">Search:</label>
					<input ng-model="q" id="search" class="form-control" placeholder="Filter text">
				</div>
				<div class="col-xs-4">
					<label for="search">items per page:</label>
					<input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
				</div>
				</div>
				<br>
				<div class="panel panel-default">
					<div class="panel-body">

						<ul>
							<div dir-paginate="results in results | filter:q | itemsPerPage: pageSize" current-page="currentPage">
								<h1>{{ results.name }}</h1>
								<h1>{{ results.phone }}</h1>
								<h1>{{ results.timing }}</h1>
							</div>
							
						
						</ul>
					</div>
					<div ng-controller="OtherController" class="other-controller">
						<small>this is in "OtherController"</small>
						<div class="text-center">
							<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="static/bower_components/angular-utils-pagination/dirPagination.tpl.html">
							</dir-pagination-controls>
						</div>
					</div>
				</div>
			</div>

        </div>
        <!-- /.container -->

    </div>     <a  name="contact"></a>
</div>	
    <div class="banner" style="padding: 20px 0;">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div>
                      <ul class="list-inline banner-social-buttons">
                          <li>
                              <a href="https://twitter.com/fydiptweeter"><i class="fa fa-twitter fa-5x" style="color: #55ACEE"></i></a>
                          </li>
                          <li>
                              <a href="https://www.facebook.com/pages/Fydip/668383729957968"><i class="fa fa-facebook-square fa-5x" style="color: #3b5998"></i> </a>
                          </li>
                          <li>
                              <a href="https://plus.google.com/109654644828256611545"><i class="fa fa-google-plus-square fa-5x" style="color: #d34836"></i> </a>
                          </li>
                      </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>

<script type="text/ng-template" id="customTemplate.html">
  <a>
      <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>